# GEMINI_API_KEY: Required for Gemini AI API calls.
GEMINI_API_KEY="MY_GEMINI_API_KEY"

# APP_URL: The URL where this applet is hosted.
APP_URL="https://viteadhyayan.vercel.app/"

# Supabase Configuration
VITE_SUPABASE_URL="https://ajfqucptdmttjicfymch.supabase.co"
VITE_SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFqZnF1Y3B0ZG10dGppY2Z5bWNoIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzUzNzcyNDcsImV4cCI6MjA5MDk1MzI0N30.eaG_bq6g20IBeugy7zRFnpyFeY8MYTXi0Zrg3-QZxv4"

# Cloudinary Configuration
VITE_CLOUDINARY_CLOUD_NAME="dju3cbasu"
VITE_CLOUDINARY_UPLOAD_PRESET="adhyayan_preset"
VITE_CLOUDINARY_API_KEY="267381487159268"