# GEMINI_API_KEY: Required for Gemini AI API calls.
GEMINI_API_KEY="MY_GEMINI_API_KEY"

# APP_URL: The URL where this applet is hosted.
APP_URL="https://viteadhyayan.vercel.app/"

# Supabase Configuration
VITE_SUPABASE_URL=#
VITE_SUPABASE_ANON_KEY=#
# Cloudinary Configuration
VITE_CLOUDINARY_CLOUD_NAME=#
VITE_CLOUDINARY_UPLOAD_PRESET=#
VITE_CLOUDINARY_API_KEY=#
